label , p{
  font-size: 1rem;
}

img , .unitIamage{
  width: 150px;
  height: 150px;
}
.unitIamage{
  margin-right: .3rem;
  margin-top: .3rem;
}
.layout{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.6);
  opacity: 0;
  transition: .3s all ease-in-out;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.layout:hover{
  opacity: 1;
}
//
// .update{
//   background-color: #A3CFCD;
// }
.page__content{
  background-color: #CBCCFF;
}


