
.modal label {
  color: #1e293b;
}

// .modal-body input , select{
//   width: 30%;
// }
 table {
  width: 90%;
  margin: 0 auto;
 }

 img{
  width: 75px !important;
  height: 75px;
 }
 td{
  font-size: 16px;
  vertical-align: middle;
 }
a{
  font-weight: bolder;
  color: #00526C;
  text-decoration: none;
}

