<div class="container-fluid page">
  <div class="d-flex page__box p-3">Barnds</div>
  <div class="page__content shadow position-relative">
    <div class="page__content-data position-absolute w-100">
      <div class="content">
        <div class="controls my-3 p-3 d-flex justify-content-between">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add">Add Brand</button>
          <input type="text" class="form-control w-25" [(ngModel)]="term" placeholder="Search by name">
        </div>
        <div class="container">
          <div class="row">
            <div class="myProducts offset-lg-3 col-lg-6 col-md-12">
              <table class="table table-bordered text-center">
                <thead class="text-success">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Update</th>
                  <th>Remove</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of brands|search:term">
                    <td>{{item.id}}</td>
                    <td class="text-primary">{{item.name}}</td>
                    <td><button (click)="GetCurrentId(item.id)" data-bs-toggle="modal" data-bs-target="#update"><i class="fa-solid fa-pen-to-square text-warning"></i></button></td>
                    <td><button (click)="GetCurrentId(item.id)" data-bs-toggle="modal" data-bs-target="#delete"><i class="fa-solid fa-trash-can text-danger"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>


<!-- add modal  -->

<div class="modal fade" id="add" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Brand</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="BrandForm" (ngSubmit)="AddBrand(BrandForm)">
      <div class="modal-body">
          <div class="name">
            <input type="text" class="form-control" placeholder="Brand Name" formControlName="Name">
            <div class="errs" *ngIf="BrandForm.get('name')?.errors && BrandForm.get('Name')?.touched">
              <p class="text-danger" *ngIf="BrandForm.get('Name')?.errors?.['required']">Name is Required</p>
              <p class="text-danger" *ngIf="BrandForm.get('Name')?.errors?.['pattern']">Min Length is 3 letters and Max length is 30 letters</p>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button [disabled]="BrandForm.invalid" type="submit" class="special btn btn-primary" >Add</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeModal>Close</button>
        <!-- second way to close modal-->
        <!-- id="closeModalButton" [hidden]="true" data-target="#add" -->

      </div>
    </form>
    </div>
  </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="staticBackdropLabel">Delete Brand</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-secondary fw-bold">
        Are you sure you want to delete this item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="DeleteBrand()" data-bs-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Update modal -->
<div class="modal fade" id="update" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="staticBackdropLabel">Update Brand</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="BrandUpdateForm" (ngSubmit)="UpdateBrand(BrandUpdateForm)">
      <div class="modal-body text-secondary fw-bold">
        <div class="name">
          <input type="text" class="form-control" placeholder="Brand Name" formControlName="Name">
          <div class="errs" *ngIf="BrandUpdateForm.get('name')?.errors && BrandUpdateForm.get('Name')?.touched">
            <p class="text-danger" *ngIf="BrandUpdateForm.get('Name')?.errors?.['required']">Name is Required</p>
            <p class="text-danger" *ngIf="BrandUpdateForm.get('Name')?.errors?.['pattern']">Min Length is 3 letters and Max length is 30 letters</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button [disabled]="BrandUpdateForm.invalid" type="submit" class="btn btn-warning" data-bs-dismiss="modal">Update</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </form>
    </div>
  </div>
</div>

