<div class="container-fluid page">
  <div class="d-flex page__box p-3">Home</div>
  <div class="page__content shadow position-relative d-flex justify-content-center align-items-center">
    <div class="page__content-data position-absolute w-100 text-center">
      <div class="container">
        <div class="row">
          <div class="content ">
            <div>
              <div class="logo">
                <img src="assets/woodlogo.png" alt="logo">
              </div>
              <div class="message mt-3">
                <ngx-typed-js
                [strings]="['Handle your business', 'Stay ahead of the curve','keep going keep growing','Go the extra mile']"
                [shuffle]="true" [typeSpeed]="50"[loop]="true" [backDelay]="1000" [backSpeed]="50">
                  <span class="typing"></span>
                </ngx-typed-js>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
